.form-container {
  /* width: 589px; */
}
h3 {
  text-align: center;
}
.form-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 80%;
  gap: 0px;
  border-radius: 25px;
  opacity: 0px;
}

.form-item {
  flex: auto;
}
