.title {
  padding: 10px;
}

.card-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: fit-content;
  gap: 0px;
  border-radius: 25px;
  justify-content: space-between;
}

.form-container {
  height: fit-content;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-controller {
  flex: auto;
}

.login-button {
  width: 100%;
  height: fit-content;
}

.password-field-container {
  position: relative;
  width: 100%;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.icon-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.icon-button {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.icon-button img {
  margin-right: 0.5rem;
}

.icon-button:hover {
  background-color: #f0f0f0;
}