.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 8vh;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-left .navbar-brand {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.navbar-right {
  display: flex;

  align-items: center;
  padding: 10px;
}

.navbar-auth-buttons {
  display: flex;
  align-items: center;
}

.navbar-auth-buttons .auth-button {
  font-weight: bold;
  padding: 5px;
  margin: 0 5px;
  text-decoration: none;
  border-radius: 5px;
  height: fit-content;
  width: 100px;
}

.sign-in-button {
  background-color: #ffffff;
  color: #000;
  border: 2px solid #000000;
}

.sign-up-button {
  background-color: #ffa500;
  border: 2px solid #000000;
  color: #000000;
}

.sign-in-button:hover,
.sign-up-button:hover {
  opacity: 0.8;
}

.navbar-auth-buttons .MuiSvgIcon-root {
  margin-right: 5px; /* Add some space between the icon and buttons */
}

.navbar-user {
  display: flex;
  flex-direction: row;
}
