.dashboard-container {
  padding: 20px;
  overflow: auto;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  width: 23%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card h4 {
  margin: 0 0 10px;
  font-size: 18px;
  color: #333;
}

.card p {
  margin: 5px 0;
  font-size: 14px;
  color: #666;
}

.diagram-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}
